@font-face {
    font-family: "Byekan";
    src: url(../font/BYekan-webfont.eot) format(eot),
        url(../font/BYekan-webfont.woff) format(woff),
        url(../font/BYekan-webfont.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

* {
    direction: rtl;
    font-family: "Byekan";
    text-align: right;
}

.main_container {
    border: 1px solid green;
    border-radius: 5px;
}

.main_container .col{
    border: 1px solid green;
    border-radius: 5px;
    background-color: purple;
    height: 100px;
}